.is-current{
    color:#35db8b !important;
    font-weight: bolder;
    transition-delay: 0.02s;
}

.link-to-section{
    text-decoration: none;
    color:white;
    padding:10px;
    text-align: center;
}

.link-to-section:hover {
    color:#60d89e !important;
}